.innerfull{
	width: 920px;
}

#everything {
	position: absolute;
	left: 50%;
	top: 0px;
	margin-left: -460px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	background-color: #f8f8f8;
	min-height: 100%;
}

#header
{
	height: 150px;
	background-color: #fff;
	background-image: url("images/header.png");
	background-repeat: no-repeat;
	background-position: center;
}

#nextgig
{
	background-color: #fff;
	margin-top: 10px;
}

.gigtickeritem {
	/*background-color: #fbb;*/
	text-align: center;
}

#kachelcontainer
{
	min-height: 540px;
}

#quicklinks
{
	height: 96px;
	background-color: #fff;
}

#quicklink-wrapper
{
	/*width: 288px;*/
	margin: 0px auto;
}

#quicklink-new
{
	background-color: yellow;
}

#errors
{
	background-color: #faa;
	text-align: center;
}

#messages
{
	background-color: #afa;
	text-align: center;
}

.kachel
{
	margin: 10px;
	width: 440px;
	border: 0px solid #aaa;
	background-color: #fff;
	float: left;
}

.adminkachel
{
	margin: 10px;
	padding: 10px;
	width: 878px;
	/*height: 70px;*/
	border: 1px solid #aaa;
	background-color: #fff;
	float: left;
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.adminkachel-content
{
	/*margin: 10px;*/
}

.buttonbox
{
	height: 50px;
	/*background-color: yellow;*/
	/*width: 150px;*/
	float: right;
}

.adminbutton
{
	margin: 10px;
	width: 28px;
	height: 28px;
	border: 1px solid #000;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	float: right;
}

.adminbutton:hover {
	width: 22px;
	height: 22px;
	border: 4px solid #000;
}

.adminbutton-delete
{
	background-color: red;
}

.adminbutton-deactivate
{
	background-color: orange;
}

.adminbutton-activate
{
	background-color: blue;
}

.adminbutton-add
{
	background-color: green;
}

#login
{
	margin: 10px;
	width: 898px;
	/*height: 150px;*/
	border: 1px solid #aaa;
	background-color: #fff;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#login p
{
	text-align: center;
}

.active {
	background-color: #afa;
}

.inactive {
	background-color: #faa;
}

.dummy {
	background-color: #840;
}

.kachelhoch
{
	height: 250px;
}

#KachelFB
{
	/*background-color: red;*/
		height: 520px;
}

#KachelYT
{
	/*background-color: blue;*/
}

#KachelTW
{
	/*background-color: green;*/
}

#KachelVid
{
	/*background-color: yellow;*/
}

#KachelSC
{
	/*background-color: yellow;*/
}

.smalllink
{
	/*position: absolute;*/
	/*top: 600px;*/
	width: 64px;
	height: 64px;
	float: left;
	margin: 16px;
}

#yt
{
	background-image: url("images/ytFlat64.png");
	/*left: 447px;*/
}	

#fb
{
	background-image: url("images/fbFlat64.png");
	/*left: 367px;*/
}
#tw
{
	background-image: url("images/twFlat64.png");
	/*left: 527px;*/
}

body
{
	background-color: #F0F0F0;
}