#everything {
	position: absolute;
	width: 960px;
	left: 50%;
	top: 0px;
	bottom: 0px;
	margin-left: -460px;
	border-left: 1px solid #aaa;
	border-right: 1px solid #aaa;
	background-color: #F8f8f8;
}

#header
{
	height: 150px;
	width: 100%;
	background-color: #fff;
}

#kachelcontainer
{
	/*position: absolute;*/
	height: 540px;
	width: 100%;
	/*left: 10px;*/
	/*top: 160px;*/
	/*right: 10px;*/
}

#quicklinks
{
	height: 96px;
	width: 100%;
	/*border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;*/
	background-color: #fff;
}

.kachel
{
	/*position: absolute;*/
	margin: 10px;
	width: 460px;
	/*height: 250px;*/
	border: 0px solid #aaa;
	background-color: #fff;
	float: left;
}

.oben
{
	top: 0px;
}

.unten
{
	bottom: 0px;
}

.links
{
  left: 0px;
}

.rechts
{
	right: 0px;
}

.kachelhoch
{
	height: 250px;
}

#KachelFB
{
	/*background-color: red;*/
		height: 520px;
}

#KachelYT
{
	/*background-color: blue;*/
}

#KachelTW
{
	/*background-color: green;*/
}

#KachelVid
{
	/*background-color: yellow;*/
}

.smalllink
{
	/*position: absolute;*/
	/*top: 600px;*/
	width: 64px;
	height: 64px;
	float: left;
	margin: 16px;
}

#yt
{
	background-image: url("images/yt64.png");
	left: 447px;
}	

#fb
{
	background-image: url("images/fb64.png");
	left: 367px;
}
#tw
{
	background-image: url("images/tw64.png");
	left: 527px;
}

body
{
	background-color: #F0F0F0;
}