.innerfull{
	width: 920px;
}

#everything {
	position: absolute;
	left: 50%;
	top: 0px;
	margin-left: -460px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	background-color: #f8f8f8;
	min-height: 100%;
}

#header
{
	height: 150px;
	background-color: #fff;
	background-image: url("images/header.png");
	background-repeat: no-repeat;
	background-position: center;
}

#kachelcontainer
{
	height: 540px;
}

#quicklinks
{
	height: 96px;
	background-color: #fff;
}

.kachel
{
	margin: 10px;
	width: 440px;
	border: 0px solid #aaa;
	background-color: #fff;
	float: left;
}

.adminkachel
{
	margin: 10px;
	width: 898px;
	height: 50px;
	border: 1px solid #aaa;
	background-color: #fff;
	float: left;
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#login
{
	margin: 10px;
	width: 898px;
	height: 150px;
	border: 1px solid #aaa;
	background-color: #fff;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#login p
{
	text-align: center;
}

.active {
	background-color: #afa;
}

.inactive {
	background-color: #faa;
}

.dummy {
	background-color: #840;
}

.kachelhoch
{
	height: 250px;
}

#KachelFB
{
	/*background-color: red;*/
		height: 520px;
}

#KachelYT
{
	/*background-color: blue;*/
}

#KachelTW
{
	/*background-color: green;*/
}

#KachelVid
{
	/*background-color: yellow;*/
}

#KachelSC
{
	/*background-color: yellow;*/
}

.smalllink
{
	/*position: absolute;*/
	/*top: 600px;*/
	width: 64px;
	height: 64px;
	float: left;
	margin: 16px;
}

#yt
{
	background-image: url("images/yt64.png");
	left: 447px;
}	

#fb
{
	background-image: url("images/fb64.png");
	left: 367px;
}
#tw
{
	background-image: url("images/tw64.png");
	left: 527px;
}

body
{
	background-color: #F0F0F0;
}